body{
   background-color:#0073e6;
}
.jumbotron{
   background-color: #e6f2ff;
}
.row{
   min-height:60px;
}
.timeLabel, .buttonCol{
   font-size: larger; 
   background-color:#80bfff; 
}
.pastHour{
   background-color: #0059b3;
   color:lightgray;
}
.currHour{
   background-color:#e6f2ff;
   color:black;
}
.futureHour{
   background-color: #cce6ff;
;
   color:black
}
button{
   background-color: #00b3b3;
   color: #e6f2ff; 
}
.form-control{
   background-color: inherit;
}